body {
  background-color: #b8bedd;
  color: #8c71b4;
  font-size: 1.5em;
  font-family: "Source Code Pro", monospace;
}
h2 {
  color: #9c89b8;
  text-align: center;
  letter-spacing: 15px;
}
h2 > span {
  color: #ffef9f;
}
.board {
  display: grid;
  grid-template-rows: repeat(9, 60px);
  grid-template-columns: repeat(9, 60px);
  text-align: center;
  width: 540px;
  border: 5px solid #f0a6ca;
  margin: 50px auto;
  background-color: #f8e7df;
  box-shadow: 10px 10px 10px rgb(192, 158, 185);
  border-radius: 5px;
}

.square {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 60px;
  height: 60px;
  border-bottom: 2px solid #f0a6ca;
  border-right: 2px solid #f0a6ca;
  border-radius: 2px;
}
/* .square:hover {
  background-color: #4cdfbf;
  color: #ffef9f;
} */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  color: #9c89b8;
  font-size: 14px;
}
.borderBottom {
  border-bottom: 5px solid #f0a6ca;
}
.borderRight {
  border-right: 5px solid #f0a6ca;
}
.field {
  width: 40px;
  height: 40px;
  background-color: #f3dbd0;
  text-align: center;
  appearance: none;
  border: none;
  outline: none;
  margin: 0 auto;
  color: #8c71b4;
  font-size: 1em;
  font-family: "Source Code Pro", monospace;
  border-radius: 50%;
  cursor: pointer;
}
.field:hover {
  background-color: #c9efc3;
}
