
.board {
  display: grid;
  grid-template-columns: repeat(3, 180px);
  grid-template-rows: repeat(3, 180px);
  background-color: #cdb4db;
  margin: 100px;
  width: 542px;
  text-align: center;
  border: 5px solid #caffbf;
}
.subBoard {
  display: grid;
  grid-template-columns: repeat(3, 60px);
  grid-template-rows: repeat(3, 60px);
  background-color: #ffc6ff;
  border: 2px solid #caffbf;
}
.squareStyle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 60px;
  height: 60px;
  border: 1px solid #3aa824;
}
